/.gitignore export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.gitattributes export-ignore
/vendor export-ignore
/composer.lock export-ignore
/infection.json export-ignore
/phpstan.neon export-ignore
/phpmd.xml export-ignore
/ecs.php export-ignore
/.idea export-ignore
/.phpunit.result.cache export-ignore